*{
    margin: 0px;
    padding: 0px;
}
body{
    padding: 20px;
    justify-items: center;
    background-color: rgb(0, 0, 54);
    color: white;
    font-family: "BBH Sans Bartle", sans-serif;

}
h1{
    color: green;
    text-shadow:  2px 2px 5px lightgreen;
    
}
button{
    padding: 5px;
    
}
.botones{
    justify-self: center;
    padding: 10px;
    
}
#iniciar{
    background-color: rgb(0, 61, 0);
    color: white;
    transition: ease 0.5s;
}
#parar{
    background-color: rgb(156, 3, 3);   
    color: white;
    transition: ease 0.5s;
}

#iniciar:enabled{
    box-shadow: 2px 2px 5px green;
    background-color: yellowgreen;
    color: black;
}
#parar:enabled{
    box-shadow: 2px 2px 5px red;
    background-color: red;
    color: white;
}
.botones button{
    margin: 10px;
}
.tablero{
    width: fit-content;
    display: flex;
    flex-direction: column;
    border: 3px solid blue;
    box-shadow: 5px 5px 10px lightgreen;
}
.tablero>div{
    
    width: fit-content;
    display: flex;
    flex-direction: row;
}
.celda{
    font-size: 10px;
    padding: 1px;
    border: 3px solid blue;
    width: 30px;
    height: 30px;
    
}
.nada{

    background-color: rgb(0, 204, 255);


}
.manzana{
    background-color: red;
}
.pared{
    background-color: rgb(9, 0, 94);
}
.cabeza{
    background-color: rgb(102, 255, 0);
}
.snake{
    background-color: rgb(71, 179, 0);
}
