body{

    background-color: rgba(162, 221, 162, 0.863);
    font-family: 'Roboto';
    justify-items: center;
    align-items: center;
}

#espacioJuego{

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    
}
h1{

    font-size: 100px;
    font-family: 'Pixelify Sans';
}

input{
    justify-content: center;
    border: 2px, solid, black;
    border-radius: 5px;
    width: 200px;
    height: 20px;
}
button{
    font-family: 'Pixelify Sans';
    font-size: 30px;
    border: 2px, solid, black;
    border-radius: 0px;
    height: 50px;
    border-radius: 5px;
    background-color: black;
    color: rgba(162, 221, 162, 0.863)   ;
}
#boxMensajes{

    border: 5px, dashed,rgb(134, 184, 134);
    padding: 25px;
    margin: 20px;
    justify-items: center;

}
#historial{

    display: flex;
    font-size: 30px;
    align-items: center;
    
}

#historial h4, #histori p{

    margin: 10px;
    padding: 0px;
}

#cortesiaIntentos{

    font-size: 20px;

}

#resultado{

    font-size: 80px;
    margin: 10px;

}
#resultado h2{

    margin: 10px;

}
#mensajes{
   font-size: 25px; 
   justify-items: center;
}
#cortesiaIntentos{
    font-size: 25px;

}