*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: default;
}
body{
    background-color: rgba(21, 65, 23, 0.829);

}
body>h1{
    text-align: center;
    margin: 20px;
    
    color: rgb(0, 0, 0);
    color: white;
}
.contenedorJuego{
    display: flex;
    flex-direction: row;
    
}
.divTablero{

    background-image: url("img/tablero.png");
    background-size: cover;
    background-position: center;
    width: 1000px;
    height: 800px;
    background-color: rgb(115, 197, 38);
    position: relative;

}
.jugador{
    width: 420px;
    color: black;
    justify-items: center;
    padding: 20px;
}
.jugador1{
    background-color: rgb(97, 97, 206);
    justify-self: left;
}
.jugador2{  
    background-color: rgb(223, 107, 107);
    justify-self: right;
}

.jugador button{

    margin-top: 10px;
    padding: 10px;
    font-size: 16px;
    border: transparent;
    
    border-radius: 8px;
    
    color: white;
    transition: all 0.3s ease;

}
.btnDado1{
    background-color: rgb(58, 77, 253);
}
.btnDado2{
    background-color: rgb(253, 58, 58);
}
.jugador button:not(:disabled):hover{

    box-shadow: 2px 2px 5px black;
    transform: scale(1.05);
    cursor: pointer;

}
.jugador div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer p{
    text-align: center;
    align-items: center;
    color: white;
}
.dado{

    width: 100px;
    height: 100px;
    margin-top: 10px;
}